.records-background {
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(66, 66, 66, 0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.records-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
