:host {
  .list-container {
    display: flex;
    min-height: 202px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    app-cat-card {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  .list-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
